/*
* Minimalist Analog Clock
*
* Special thanks goes to: http://www.idiotinside.com/2015/04/12/create-a-analog-clock-using-css-jquery/
*
*/

$minimalist-clock-bg: #FFF;
$minimalist-clock-color: #6F90A2;

$minimalist-clock-size: 180px;
$minimalist-clock-circle-width: 8px;
$minimalist-clock-face-width: 12px;
$minimalist-clock-hour-width: 4px;
$minimalist-clock-minute-width: 3px;
$minimalist-clock-second-width: 1px;

.minimalist-clock {

  width: $minimalist-clock-size;
  height: $minimalist-clock-size;
  margin: 0 auto;
  position: relative;
  border: $minimalist-clock-circle-width solid $minimalist-clock-color;
  border-radius: 50%;
  background: $minimalist-clock-bg;

  .minimalist-clock--face {
    width: 100%;
    height: 100%;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $minimalist-clock-face-width;
      height: $minimalist-clock-face-width;
      margin: -1*$minimalist-clock-face-width/2 0 0 -1*$minimalist-clock-face-width/2;
      background: $minimalist-clock-color;
      border-radius: $minimalist-clock-face-width/2;
      content: "";
      display: block;
    }

    .minimalist-clock--hour {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1*$minimalist-clock-hour-width 0 -1*$minimalist-clock-hour-width -25%;
      padding: $minimalist-clock-hour-width 0 $minimalist-clock-hour-width 25%;
      background: $minimalist-clock-color;
      transform-origin: 100% 50%;
      border-radius: $minimalist-clock-hour-width 0 0 $minimalist-clock-hour-width;

      @for $_hours from 0 through 12 {
        $_deg: ($_hours * 5 * 6 + 90);
        &[data-hour="#{$_hours}"] {
          transform: rotate(#{$_deg}deg);
        }
      }

      @for $_hours from 13 through 24 {
        $_deg: (($_hours - 12) * 5 * 6 + 90);
        &[data-hour="#{$_hours}"] {
          transform: rotate(#{$_deg}deg);
        }
      }
    }

    .minimalist-clock--minute {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40% -1*$minimalist-clock-minute-width 0;
      padding: 40% $minimalist-clock-minute-width 0;
      background: $minimalist-clock-color;
      transform-origin: 50% 100%;
      border-radius: $minimalist-clock-minute-width $minimalist-clock-minute-width 0 0;

      @for $_minutes from 1 through 60 {
        $_deg: ($_minutes * 6);
        &[data-minute="#{$_minutes}"] {
          transform: rotate(#{$_deg}deg);
        }
      }
    }

    .minimalist-clock--second {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40% -1*$minimalist-clock-second-width 0 0;
      padding: 40% $minimalist-clock-second-width 0;
      background: $minimalist-clock-color;
      transform-origin: 50% 100%;

      @for $_seconds from 1 through 60 {
        $_deg: ($_seconds * 6);
        &[data-second="#{$_seconds}"] {
          transform: rotate(#{$_deg}deg);
        }
      }
    }

  }

}
