/*
* Minimalist Analog Clock
*
* Special thanks goes to: http://www.idiotinside.com/2015/04/12/create-a-analog-clock-using-css-jquery/
*
*/
.minimalist-clock {

  $_bg: #FFF;
  $_color: #6F90A2;

  $_size: 180px;
  $_width: 8px;

  $_face-width: 12px;
  $_hour-width: 4px;
  $_minute-width: 3px;
  $_second-width: 1px;

  width: $_size;
  height: $_size;
  margin: 0 auto;
  position: relative;
  border: $_width solid $_color;
  border-radius: 50%;
  background: $_bg;

  .minimalist-clock--face {
    width: 100%;
    height: 100%;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $_face-width;
      height: $_face-width;
      margin: -1*$_face-width/2 0 0 -1*$_face-width/2;
      background: $_color;
      border-radius: $_face-width/2;
      content: "";
      display: block;
    }

    .minimalist-clock--hour {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1*$_hour-width 0 -1*$_hour-width -25%;
      padding: $_hour-width 0 $_hour-width 25%;
      background: $_color;
      transform-origin: 100% 50%;
      border-radius: $_hour-width 0 0 $_hour-width;

      @for $_hours from 1 through 12 {
        $_deg: ($_hours * 5 * 6 + 90);
        &[data-hour="#{$_hours}"] {
          transform: rotate(#{$_deg}deg);
        }
      }

      @for $_hours from 13 through 24 {
        $_deg: (($_hours - 12) * 5 * 6 + 90);
        &[data-hour="#{$_hours}"] {
          transform: rotate(#{$_deg}deg);
        }
      }
    }

    .minimalist-clock--minute {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40% -1*$_minute-width 0;
      padding: 40% $_minute-width 0;
      background: $_color;
      transform-origin: 50% 100%;
      border-radius: $_minute-width $_minute-width 0 0;

      @for $_minutes from 1 through 60 {
        $_deg: ($_minutes * 6);
        &[data-minute="#{$_minutes}"] {
          transform: rotate(#{$_deg}deg);
        }
      }
    }

    .minimalist-clock--second {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40% -1*$_second-width 0 0;
      padding: 40% $_second-width 0;
      background: $_color;
      transform-origin: 50% 100%;

      @for $_seconds from 1 through 60 {
        $_deg: ($_seconds * 6);
        &[data-second="#{$_seconds}"] {
          transform: rotate(#{$_deg}deg);
        }
      }
    }

  }

}
